#project_container{
    text-decoration: none;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/

.carousel_project_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.carousel_project_element{
    text-decoration: none;
    color: white;
    background: hsl(211.3deg 30.67% 14.71%);
    margin: auto;
    display: grid;
    grid-template-rows: 30px 400px 40px 50px;
    justify-items: center;
    align-items: center;
    width: 800px;
    border-radius: 5px;
    padding: 20px;
    gap: 10px;
    text-align: center;
}

.carousel_project_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.btn_carousel{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    color: black;
    font-size: 30px
}

/*-----------------------------------------------------------------------------------------------------------------------------*/

#project_grid_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 1500px;
}

.project_grid_element{
    background: white;
    color: black;
    display: grid;
    grid-template-rows: 30px 200px 100px 30px;
    width: 400px;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    gap: 5px;
}

.project_grid_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
}