#project_container{
    text-decoration: none;
    margin-top: 100px;
}

#carousel_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
#project_data_element{
    text-decoration: none;
    color: black;
    background: white;
    margin: auto;
    display: grid;
    grid-template-rows: 30px 400px 40px 50px;
    justify-items: center;
    align-items: center;
    width: 1200px;
}

.project_img{
    width: 750px;
    height: 100%;
    border-radius: 5px;
}

.btn_carousel{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    color: black;
    font-size: 30px
}