*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'fuente_1';
    src: url('fonts/Parkinsans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background: rgb(1, 6, 20);
    color: white;
    font-family: 'fuente_1'
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 1200px;
    padding: 60px 0px;
}

#menu{
    display: flex;
    padding-top: 10px;
    margin-bottom: 20px;
    position: fixed;
    top: 0px;
    z-index: 10000;
    background: rgba(1, 6, 20, 0.882);
    width: 100%;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}

#img_my_name{
    height: 30px;
}

#container_section{
    display:flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
    width: 600px;
}
.link_section{
    background: None;
    border: None;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.link_section:hover{
    cursor: pointer;
}

#container_theme{
    display: flex;
    gap: 10px;
}
#btn_theme{
    height: 35px;
    background: none;
    border: 1px rgb(98, 84, 84) solid;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}
#btn_theme:hover{
    background: rgb(84, 52, 101);
}
#img_theme{
    height: 100%;
}
